<%= stylesheet_link_tag 'prompts/index' %>

<div id="hat">
  <div class="img">
    <%= image_tag 'hat.svg' %>
  </div>
  <h2>My challenges</h2>
</div>

<% if current_user.prompts.count.zero? %>
  <p class="no-challenge">Hey, <%= current_user.name %>. You don't have any challenge yet. </p>
<% else %>
  <div class="d-flex">
    <div class="container-fluid">
      <div class="title">
        <% @prompts.each do |prompt| %>
          <div class="list">
          <h4><%= prompt.programming_language %></h4>
          <li><%= link_to 'Try again', prompt_path(prompt) %></li>
          <li><%= link_to 'See my reviews', prompt_code_reviews_path(prompt) %></li>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
  <%= link_to 'Back', root_path, id:"botao", class: 'btn btn-primary' %>
