<%= stylesheet_link_tag 'prompts/show' %>

<div data-controller="loader">
  <div id="slow_warning" class="d-none" data-loader-target="loading">
    <div class="second-wrapper">
      <div class="circle-loader">
        <div class="circle circle_four"></div>
        <div class="circle circle_three"></div>
        <div class="circle circle_two"></div>
        <div class="circle circle_one"></div>
      </div>
    </div>
  </div>


<div id="hat">
  <div class="img">
    <% if @prompt.programming_language == "Python" %>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
    <% elsif @prompt.programming_language == "JavaScript" %>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
    <% elsif @prompt.programming_language == "Ruby" %>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original.svg" />
    <% elsif @prompt.programming_language == "C" %>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" />
    <% elsif @prompt.programming_language == "C++" %>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" />
    <% elsif @prompt.programming_language == "C#" %>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" />
    <% elsif @prompt.programming_language == "Go" %>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original.svg" />
    <% elsif @prompt.programming_language == "PHP" %>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg" />
    <% elsif @prompt.programming_language == "Swift" %>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/swift/swift-original.svg" />
    <% else %>
      <!-- Default icon or error handling -->
      <img src="hat.svg" />
    <% end %>
  </div>
  <h2><%= @prompt.programming_language %> Challenge</h2>
</div>

<main data-controller="codemirror" data-codemirror-lang-value="<%= @prompt.programming_language.downcase %>" >
  <pre class="first text-with-icon" data-clipboard-target="source" data-controller="clipboard">
    <button class="button clip" type="button" data-action="clipboard#copy" data-clipboard-target="button">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
          <path d="M280 64h40c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128C0 92.7 28.7 64 64 64h40 9.6C121 27.5 153.3 0 192 0s71 27.5 78.4 64H280zM64 112c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V128c0-8.8-7.2-16-16-16H304v24c0 13.3-10.7 24-24 24H192 104c-13.3 0-24-10.7-24-24V112H64zm128-8a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"/>
        </svg>
    </button>
      <%= @prompt.received_challenge %>

  </pre>
  <div class="code-editor" data-action="resize->codemirror#resize">
    <%= simple_form_for([@prompt, @code_review], html: { multipart: true, data: { action: "submit->loader#display" } }) do |f| %>
      <%= f.input :user_answer, as: :text, label: false, input_html: { rows:'60', id: "code_review_user_answer", style: "display: none", class: 'code-input', maxlength: 20000, placeholder: "Enter your answer here" } %>
      <% @code_review.user_answer %>
      <div class="d-grid gap-2 col-6 mx-auto">
        <%= f.button :submit, id:"botao", class: "btn btn-primary", value: 'Submit for review' %>
        <% end %>
      </div>
  </div>
</main>

<%# JavaScript code %>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/clike/clike.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/go/go.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.min.js'></script>
  <%# <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/java/java.min.js'></script> %>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/php/php.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/python/python.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/r/r.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/ruby/ruby.min.js'></script>
  <%# <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/rust/rust.min.js'></script> %>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/swift/swift.min.js'></script>
  <%# <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/typescript/typescript.min.js'></script> %>
  <%# <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/kotlin/kotlin.min.js'></script> %>
  <%# <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/matlab/matlab.min.js'></script> %>



</html>
