<%= stylesheet_link_tag 'prompts/show' %>

<div data-controller="loader">
  <div id="slow_warning" class="d-none" data-loader-target="loading">
    <div class="loader" id="loader">
  <div class="spinner"></div>
  <p>Loading...</p>
</div>
  </div>

<h1> <%= @prompt.programming_language%> Challenge</h1>
<pre><%=@prompt.received_challenge %>
</pre>


<%= simple_form_for([@prompt, @code_review], html: { multipart: true, data: {action: "submit->loader#display"} }) do |f| %>
  <%= f.input :user_answer, as: :text, input_html: { id:"code_review_user_answer", style:"display: none", class: 'code-input', maxlength: 20000, style: 'width: 1200px; height: 700px;', placeholder: "Enter your answer here" } %>
  <%= @code_review.user_answer %>
  <pre><code id="user-answer-preview"></code></pre>
  <%= f.button :submit, class: "btn btn-primary mt-4 rounded" %>
<% end %>

<body translate="no" >
<section>
<div class="container">
<div class="code-container">
</div>


</div>
</section>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/css/css.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/htmlmixed/htmlmixed.js'></script>
<script id="rendered-js" >
var html_value;
var editor = CodeMirror.fromTextArea(document.getElementById("code_review_user_answer"), {
    styleActiveLine: true,
    lineNumbers: true,
    matchBrackets: true,
    autoCloseBrackets: true,
    autoCloseTags: true,
    mode: "javascript",
    //  intepolar a linguagem aqui e add mais la em cima
});
</script>
</body>

</html>
