<%= stylesheet_link_tag 'code_reviews/index' %>

<div id="hat">
  <div class="img">
    <%= image_tag 'hat.svg' %>
  </div>
  <h2>All my code reviews</h2>
</div>



<% if @prompt.code_reviews.empty? %>
  <p class="no-challenge">Hey, <%= current_user.name.capitalize %>. You did't finish your challenge yet. </p>
<% else %>
<div class="container-fluid">
  <div class="title">
    <div class="content first">
      <h4><%= @prompt.programming_language %></h4>
    </div>
    <% @prompt.code_reviews.each do |code_review| %>
      <div class="feedback">
        <p id="code-review"><pre><%=code_review.received_feedback %></pre></p>
      </div>
    <% end %>
    </div>
  </div>
</div>
<% end %>


  <%= link_to 'Back', prompts_path, id:"botao", class: 'btn btn-primary rounded' %>
