<%= stylesheet_link_tag 'code_reviews/index' %>

<div id="hat">
  <div class="img">
    <%= image_tag 'hat.svg' %>
  </div>
  <h2>All my code reviews</h2>
</div>



<% if @prompt.code_reviews.empty? %>
  <p class="no-challenge">Hey, <%= current_user.name.capitalize %>. You did't finish your challenge yet. </p>
<% else %>
<div class="container-fluid">
  <div class="title">
    <div class="content first">
    <div id="img-title">
      <div class="img">
        <% if @prompt.programming_language == "Python" %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
        <% elsif @prompt.programming_language == "JavaScript" %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
        <% elsif @prompt.programming_language == "Ruby" %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original.svg" />
        <% elsif @prompt.programming_language == "C" %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" />
        <% elsif @prompt.programming_language == "C++" %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" />
        <% elsif @prompt.programming_language == "C#" %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" />
        <% elsif @prompt.programming_language == "Go" %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original.svg" />
        <% elsif @prompt.programming_language == "PHP" %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg" />
        <% elsif @prompt.programming_language == "Swift" %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/swift/swift-original.svg" />
        <% else %>
          <!-- Default icon or error handling -->
          <img src="hat.svg" />
        <% end %>
      </div>
        <h4><%= @prompt.programming_language %></h4>
    </div>
    </div>
    <% @prompt.code_reviews.each do |code_review| %>
      <div class="feedback">
        <p id="code-review"><pre><%=code_review.received_feedback %></pre></p>
      </div>
    <% end %>
    </div>
  </div>
</div>
<% end %>


  <%= link_to 'Back', prompts_path, id:"botaoo", class: 'btn btn-primary' %>
